asgiref>=3.5.2
attrs>=22.1.0
django>=4.0.4,<5.0
django-debug-toolbar>=3.4.0
django-stubs>=1.12.0
django-stubs-ext>=1.12.0
djangorestframework>=3.13.1
djangorestframework-simplejwt>=5.2.0
djangorestframework-stubs>=1.7.0
drf-spectacular>=0.26.0
flake8>=4.0.1
flake8-quotes>=3.3.1
flake8-variables-names>=0.0.5
inflection>=0.5.1
jsonschema>=4.10.0
jsonschema-specifications
mccabe>=0.6.1
pep8-naming>=0.13.0
pillow>=9.0.0
pycodestyle>=2.8.0
pyflakes>=2.4.0
pyjwt>=2.4.0
pyyaml>=6.0
referencing
rpds-py
setuptools
sqlparse>=0.4.2
types-pyyaml
typing-extensions>=4.2.0
uritemplate>=4.1.1
